*{
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
header{
    height: 30px;
    overflow: hidden;
    margin: 20px 0;
    padding-right: 10%;
}
.menu{
    float: right;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li{
 float: left;
}
.menu ul li a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 20px;
    font-weight: 700;
}
.menu ul li a:hover{
    color:#333;
    font-weight: 400;
}

h1{
    font-size: 55px;
    margin-bottom: 20px;
    font-weight: 700;
}
p{
    margin-bottom: 12px;
}
.btn{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    width: 65px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    background: linear-gradient(45deg, orange, rgb(236, 71, 65));
    font-size:16px;
}
.btn_img{
    width:95px
}
.icon_img img{
    width:12px;
}
.heighlite{
    color: rgb(236, 71, 65);
}
section{
    overflow: hidden;
}
.top{
    margin-top: 120px;
}
.column_half{
    width: 40%;
    float: left;
    margin-left: 7%;
    padding-right: 3%;

}
.column_half img{
    width:75%;
    margin-top: 15px;
}
.work{
    padding: 30px 0;
   background: #dfdfdf; 
}
.heading{
    margin: 30px 0 45px;
}
.heading h1{
    font-size: 40px;
    text-align: center;
}
.gallary{
    width: 80%;
    margin: 20px auto;
    display: block;
}
.one_third{
    width: 30%;
    float: left;
    margin-right: 5%;
    background: #efefef;
    border-radius: 10px;
    padding-bottom: 15px;
    box-shadow:3px 3px 2px #efefef ;
}
.one_third:last-child{
    margin-right:0;
}
.one_third img{
    padding: 5%;
    width: 90%;
}
.text{
    padding: 15px;
}
.inquary{
    width: 40%;
    margin: 0 auto;
    padding: 50px 30px;
    background: royalblue;
    border-radius: 25px;
    margin: 50px auto;
    height: 50px;
}
.inquary h1{
    font-size: 40px;
    text-transform: uppercase;
    float:left;
    display: block;
    margin-bottom: 0px;
    color: white;
}
.inquary a{
    float:right;
    width: 70px;
    display: block;
    margin-top: 5px;
}
.ftext{
    text-align: center;
    line-height: 30px;
}

.icon{
    margin-top: 15px;
    text-align: center;
    padding-left: 43%;
}
.icon a{
    display:block;
    padding-right: 12px;
    float: left;
}
.icon a img{
    width: 50px;
    margin-bottom: 20px;
}
.icon a:last-child{
    padding-right: 0;
}